# COSC1176/1179 2011s2 assignment 2
# Web server config

# USE ONE OF YOUR ALLOCATED PORT NUMBERS
# Change 'host' to the actual machine name
port 40311
root ass2test
host yallara.cs.rmit.edu.au

# How to shutdown the server
shutdown-signal 15
shutdown-request config/shutdown.htm
shutdown-file config/shutdown.htm
status-request config/status.htm
# This config includes shutdown-request and shutdown-file params,
# because the sample given included shutdown-file. The assignment
# definition says to implement shutdown-request.

# Logging and debugging controls
logfile webserver.log
logging yes
recordfile lastrequest.txt
recording yes

# Map file extensions to content type
type-txt text/plain
type-htm text/html
type-html text/html
type-jpg image/jpeg
type-mp3 audio/mpeg
type-wav audio/vnd.wave
# The default content for null or unrecognised extensions
type text/plain

# end

